
$azul: #364f6b;
$celeste: #3fc1c9;
$rosa: #fc5185;
$blanco: #f5f5f1;
$marron: #513629;
$altura_nav: 5rem;

/*
  Variables para Dispositivos móbiles
*/
// Notebook - 992px
$notebook: 992px;

// Tablet - 768px
$tablet: 768px;
$altura_nav_tablet: 4rem;

// Height - Nav
$height: calc(100vh - #{$altura_nav_tablet});

$rojo: #db3830;
$rojo_oscuro: #da3028;
$naranja: #e76f35;
$amarillo: #f3cb38;