// Variables de SASS
@import '../../utilities/variables';

.presentacion {
  height: calc(100% - #{$altura_nav});
}

.presentacion__btn {
  padding: 10px;
  color: #EDF5E1;
  background-color: #05386B;
}