// SASS
@import '../../utilities/variables';
@import '../../utilities/fonts';
@import '../../utilities/class';

.usuario {
  width: 100%;
  min-height: $height;
  padding-top: $altura_nav;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $blanco;
  background: url(/images/userBackground.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  background-attachment: scroll;
  background-color: rgba(0,0,0,.5);
  
  &__contenedor {
    display: flex;
    position: relative;
    font-family: "Alegreya Sans", sans;
    width: 60%;
    font-size: 1rem;
  }
  &__form {
    flex-grow: 1;
    padding: 2rem 0;
    background-color: rgba($color: $blanco, $alpha: 0.6);

    & form {
      width: 90%;
      margin: auto;
    }

    &__titulo {
      color: #000;
      font-size: 3.5rem;
      text-align: center;
      margin-bottom: 2rem;
    }

    & label {
      font-size: 1.5rem;
      margin-bottom: 1rem;
    }

    & input {
      width: 100%;
      font-size: 1.25rem;
      padding: .5rem 1rem;
      margin-bottom: 2rem;
      border: 1px solid transparent;
      box-shadow: 5px 5px 22px -5px #00000061;

      &:focus {
        outline: none;
      }

      &::placeholder {
        color: #888;
      }
    }

    & form button {
      display: block;
      margin: 1rem auto;
      padding: .75rem 3rem;
      box-shadow: 5px 5px 22px -5px #00000061;
    }
  }
}

.wall {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background-color: $rojo;
  padding: 2rem 2rem;
  z-index: 99;
  transition: transform 1s cubic-bezier(0.77, 0, 0.175, 1);

  &--mover {
    transform: translateX(-100%);

  }

  &__titulo {
    color: $blanco;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1rem;
  }
  
  &__texto {
    color: $blanco;
    font-size: 1.25rem;
    text-align: center;
    margin-bottom: 1rem;
  }

  &__btn {
    margin: 0 auto;
  }
}

.mobile {
  &__texto,
  &__btn {
    display: none;
  }
}

@media screen and (min-width: $tablet_breakpoint) and (max-width: $desktop_breakpoint) {
  .usuario__contenedor {
    width: 90%;
  }
}

@media screen and (max-width: $tablet_breakpoint) {
  .usuario {
    padding-top: 0;
    
    &__contenedor {
      width: 100%;
      height: 100%;
    }

    &__form {
      width: 100%;
      background-color: initial;
      margin-top: 2rem;

      &__titulo {
        font-size: 2rem;
        margin-bottom: 0;
      }

      & form {
        width: 90%;
        margin: 0 auto;
      }
      
      & label {
        font-size: 1rem;
      }

      & input {
        padding: .25rem .5rem;
        margin-bottom: 1rem;
      }

      & form button {
        width: 100%;
      }
    }
  }

  .form-login,
  .form-signup {
    transition: opacity .5s linear;
  }
  
  .wall {
    display: none;
  }

  .mobile {
    &__texto {
      display: block;
      text-align: center;
    }

    &__link {
      font-size: 1rem;
      padding: 1rem;
      color: $rojo;
    }

    &__btn {
      display: block;
    }
  }
}