// Variables de SASS
@import '../../utilities/_variables';

header {
  position: sticky;
  top: 0;
  width: 100%;
  height: $altura_nav;
  background-color: $color_contenedor;
  overflow: hidden;
  font-size: 1.4rem;
}

.menu {
  display: flex;
  justify-content: center;
  min-width: 200px;
  background: $color_contenedor;

  &__item {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
  }

  &__enlace {
    position: relative;
    display: inline-block;
    color: $azul;
    text-decoration: none;
    -webkit-transition: color 0.25s;
    transition: color 0.25s;
    line-height: 1.4;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 20px;
    padding-right: 20px;

    &:hover {
      color: #fc5185;
    }

    &:after {
      position: absolute;
      content: '';
      left: 50%;
      right: 50%;
      bottom: 8px;
      height: 2px;
      background-color: #fc5185;
      transition: left 0.25s, right 0.25s;
    }

    &:hover::after {
      left: 1px;
      right: 1px;
    }
  }
}

.resaltado {
  font-size: 150%;
}




@media screen and (max-width: $tablet) {
  header {
    position: fixed;
    height: $altura_nav_tablet;
  }

  body {
    padding-top: $altura_nav_tablet;
  }
  
  .menu {
    display: flex;
    position: fixed;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: 100vh;
    background-color: $color_contenedor;
    transform: translateX(-50rem);
    z-index: 998;
    transition: transform .5s cubic-bezier(0.23, 1, 0.320, 1);


    &__item:nth-child(1) { order: 2 } // History
    &__item:nth-child(2) { order: 3 } // Favorites
    &__item:nth-child(3) { order: 1 } // Discover 
    &__item:nth-child(4) { order: 0 } // User
    &__item:nth-child(5) { order: 4 } // Contact

    &__enlace {
      font-size: 2rem;
      text-align: center;

      &:hover::after {
        left: 10rem;
        right: 10rem;
      }
    }
    
  }

  .menu-abierto {
    transform: translateX(0);
  }

  .resaltado {
    color: $rosa;
  }

}