// SASS
@import '../../utilities/variables';
@import '../../utilities/fonts';



.navbar {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  font-family: 'Alegreya Sans', sans;
  letter-spacing: 1px;
  width: 100%;
  height: $altura_nav;
  background-color: $rojo;
  color: $blanco;
  overflow: hidden;
  z-index: 999;
  transition: all .2s linear;

  &--scroll {
    height: calc(#{$altura_nav} - 1rem);
    transition: all .2s linear;
  }
}

.menu {
  display: flex;
  justify-content: center;
  min-width: 200px;

  &--scrol {
    font-size: 5rem;;
  }
  
  &__item {
    padding:0 10px;
  }

  &__enlace {
    display: flex;
    align-items: center;
    position: relative;
    color: $blanco;
    font-size: 1.2rem;
    text-decoration: none;
    transition: color 0.25s;
    line-height: 1.4;
    padding-left: 20px;
    padding-right: 20px;
    height: 100%;
    
    & i {
      --ggs: 1.2;
      margin: 0 .5rem;
    }
    
    &:hover {
      color: #000;
    }

    &:after {
      position: absolute;
      content: '';
      left: 50%;
      right: 50%;
      bottom: 0;
      height: 2px;
      background-color: #000;
      transition: left 0.25s, right 0.25s;
    }

    &:hover::after {
      left: 1px;
      right: 1px;
    }
  }

  &__usuario {
    display: none;
  }
}

@media screen and (max-width: $notebook_breakpoint) {
  .menu {
    &__item {
      padding: initial;
    }

    &__enlace {
      font-size: 1.2rem;
    }
  }
}

@media screen and (max-width: $tablet_breakpoint) {
  .navbar {
    position: sticky;
    height: $altura_nav_tablet;
  }
  
  .menu {
    display: flex;
    position: fixed;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: $altura_nav_tablet !important;
    background-color: $rojo;
    transform: translateX(-50rem);
    z-index: 998;
    transition: transform .5s cubic-bezier(0.23, 1, 0.320, 1);

    &__item {
      padding: 1rem 0;
    }

    &__item:nth-child(1) {
      order: 1;
    }
    &__item:nth-child(2) {
      order: 2;
    }
    &__item:nth-child(3) {
      order: 3;
    }    
    &__item:nth-child(4) {
      order: 0;
    }

    
    &__enlace {
      font-size: 1.2rem;
      text-align: center;

      &::after {
        content: initial;
      }
    }
    
    &__usuario {
      display: block;
      text-align: center;
      color: #000;
      border-bottom: 3px solid #000;
      margin: 0 3rem;
    }
  }

  .menu-abierto {
    transform: translateX(0);
  }

}