// SASS
@import '../../utilities/variables';
@import '../../utilities/fonts';

.navbar {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  font-family: 'Alegreya Sans', sans;
  width: 100%;
  height: $altura_nav;
  background-color: $rojo;
  color: $blanco;
  overflow: hidden;
  z-index: 999;
  transition: all .2s linear;

  &--scroll {
    height: calc(#{$altura_nav} - 2rem);
    transition: all .2s linear;
  }
}

.menu {
  display: flex;
  justify-content: center;
  min-width: 200px;

  &--scrol {
    font-size: 5rem;;
  }
  
  &__item {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding:0 10px;
  }

  &__enlace {
    display: inline-block;
    position: relative;
    color: $blanco;
    font-size: 1.5rem;
    text-decoration: none;
    transition: color 0.25s;
    line-height: 1.4;
    padding-left: 20px;
    padding-right: 20px;
    
    &:hover {
      color: #fc5185;
    }

    &:after {
      position: absolute;
      content: '';
      left: 50%;
      right: 50%;
      bottom: 0;
      height: 2px;
      background-color: #fc5185;
      transition: left 0.25s, right 0.25s;
    }

    &:hover::after {
      left: 1px;
      right: 1px;
    }
  }
}

@media screen and (max-width: $notebook) {
  .menu {
    &__item {
      padding: initial;
    }

    &__enlace {
      font-size: 1.2rem;
    }
  }
}

@media screen and (max-width: $tablet) {
  .navbar {
    height: $altura_nav_tablet;
  }

  body {
    padding-top: $altura_nav_tablet;
  }
  
  .menu {
    display: flex;
    position: fixed;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: 100vh;
    padding-top: 15vh !important;
    background-color: $rojo;
    transform: translateX(-50rem);
    z-index: 998;
    transition: transform .5s cubic-bezier(0.23, 1, 0.320, 1);

    &__item {
      padding: 2rem 0;
    }
    
    &__enlace {
      font-size: 2.5rem;
      text-align: center;

      &:hover::after {
        left: 10rem;
        right: 10rem;
      }
    }
    
  }

  .menu-abierto {
    transform: translateX(0);
  }

}