// SASS
@import '../../utilities/variables';
@import '../../utilities/fonts';

.logo {    
  display: flex;
  color: $blanco;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
  font-size: 2.5rem;
  transition: all .2s linear;

  &--scroll {
    font-size: 2rem;
  }
}

.logo a {
  color: $blanco;
  text-decoration: none;
}

/*
  Breakpoint tablet - 768px
*/
@media screen and (max-width: $tablet_breakpoint) {
  .logo {
    font-size: 1.5rem;
    margin-left: 1rem;
  }
}
