@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');
.logo {    
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: 'Playfair Display', serif;
  font-style: normal;
  font-weight: normal;
  font-size: 65px;
  text-align: center;
  color: #fc5185;
  margin: 5px 0;
}

$tablet: 768px;
@media screen and (max-width: $tablet) {
  .logo {
    font-size: 2rem;
    text-align: start;
    margin-left: 1rem;
  }
}